<div class="container col mb-4 d-flex justify-content-center">
    <div class= "book" style="background-image: url(<%= book.cover_link %>);">
        <div class="book-content">
            <h2 class = "book-title "><%= book.title %></h2>
            <p class = "book-body"><%= book.author %></p>
            <a href="/book/<%= book.id%>" class="button">Learn More</a>
        </div>
    </div>
</div>



