<%- include('partials/_header') %>

    <% if (locals.data) { %>
        <h2 class="text-white mb-3" style="text-shadow: 1px 1px #1a1a1a;">Search Results for: "<%= data.userQuery %>"</h2>
        <div class="container row">
        <% data.books.forEach(function(book) { %>
            <%- include('partials/_book', {book: book}); %>
        <% }) %>
    <% } %>


<%- include('partials/_footer') %>
